# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!.gitignore
!.github/
!.github/**

!**/*.go
!go.sum
!go.mod

!package.json
!package-lock.json

!.dockerignore
!Dockerfile
!compose.yaml
!compose.https.yaml
!Makefile
!.editorconfig

!README.md

!assets/
!migrations/
!migrations/**
!templates/
!templates/**

!.gitkeep

!dagger.json
!.dagger/
