# yaml-language-server: $schema=https://www.schemastore.org/github-action.json

name: Go

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

env:
  GO_VERSION: 1.25.5
  NODE_VERSION: 24.12.0
  GOLANGCI_LINT_VERSION: v2.8.0
  REGISTRY: ghcr.io

permissions:
  contents: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  metadata:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.metadata.outputs.app_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: Collect metadata
        id: metadata
        shell: bash
        run: |
          set -euo pipefail
          app_version=$(git describe --tags --always --dirty 2> /dev/null || echo "unknown")
          echo "app_version=${app_version}" >> ${GITHUB_OUTPUT}

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: lint --src=. --go-version=${{ env.GO_VERSION }} --node-version=${{ env.NODE_VERSION }} --golangci-lint-version=${{ env.GOLANGCI_LINT_VERSION }}

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Go vulnerability check
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: govulncheck --src=. --go-version=${{ env.GO_VERSION }}

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: test --src=. --go-version=${{ env.GO_VERSION }} --node-version=${{ env.NODE_VERSION }}

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux]
        arch: [amd64, arm64]
    needs: [metadata]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Go binary for Linux AMD64 and ARM64
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: >-
            build-go-binary --src=. \
                            --go-version=${{ env.GO_VERSION }} \
                            --node-version=${{ env.NODE_VERSION }} \
                            --goos=${{ matrix.os }} \
                            --goarch=${{ matrix.arch }} \
                            --ldflags='-s -w -X main.version=${{ needs.metadata.outputs.app_version }}' \
                            --output=dist/url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ needs.metadata.outputs.app_version }}

      - name: Upload binary
        uses: actions/upload-artifact@v6
        if: ${{ github.ref_type != 'tag' }}
        with:
          name: url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ needs.metadata.outputs.app_version }}
          path: dist/url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ needs.metadata.outputs.app_version }}
          compression-level: 6

      # - name: Upload image tarball
      #   uses: actions/upload-artifact@v6
      #   if: github.event_name == 'pull_request'
      #   with:
      #     name: image
      #     path: /tmp/image.tar
      #     compression-level: 0

      # - name: Release
      #   uses: softprops/action-gh-release@v2
      #   if: github.ref_type == 'tag'
      #   with:
      #     files: /tmp/url-shortener-web
      #     generate_release_notes: true
      #     body: |
      #       `docker pull ${{ env.REGISTRY }}/${{ github.repository }}:${{ github.ref_name }}`
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
