# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: Go

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

env:
  GO_VERSION: 1.25.5
  NODE_VERSION: 24.12.0
  GOLANGCI_LINT_VERSION: v2.8.0
  REGISTRY: ghcr.io

permissions:
  contents: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  metadata:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.metadata.outputs.app_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: Collect metadata
        id: metadata
        shell: bash
        run: |
          set -euo pipefail
          app_version=$(git describe --tags --always --dirty 2> /dev/null || echo "unknown")
          echo "app_version=${app_version}" >> ${GITHUB_OUTPUT}

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: lint --src=. --go-version=${{ env.GO_VERSION }} --node-version=${{ env.NODE_VERSION }} --golangci-lint-version=${{ env.GOLANGCI_LINT_VERSION }}

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Go vulnerability check
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: govulncheck --src=. --go-version=${{ env.GO_VERSION }}

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: test --src=. --go-version=${{ env.GO_VERSION }} --node-version=${{ env.NODE_VERSION }}

  build-binary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux]
        arch: [amd64, arm64]
    needs: [metadata]
    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Go binary for Linux AMD64 and ARM64
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: >-
            build-binary --src=. \
                            --go-version=${{ env.GO_VERSION }} \
                            --node-version=${{ env.NODE_VERSION }} \
                            --goos=${{ matrix.os }} \
                            --goarch=${{ matrix.arch }} \
                            --ldflags='-s -w -X main.version=${{ env.APP_VERSION }}' \
                            --output=dist/url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ env.APP_VERSION }}

      - name: Upload binary
        uses: actions/upload-artifact@v6
        if: ${{ github.ref_type != 'tag' }}
        with:
          name: url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ env.APP_VERSION }}
          path: dist/url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ env.APP_VERSION }}
          compression-level: 6

  export-oci-tarball:
    runs-on: ubuntu-latest
    needs: [metadata]
    if: github.event_name == 'pull_request'
    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Export OCI tarball
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: >-
            export-oci-tarball --src=. \
                       --go-version=${{ env.GO_VERSION }} \
                       --node-version=${{ env.NODE_VERSION }} \
                       --ldflags="-s -w -X main.version=${{ env.APP_VERSION }}" \
                       --output=dist/url-shortener-web-${{ env.APP_VERSION }}.tar

      - name: Upload OCI tarball
        uses: actions/upload-artifact@v6
        with:
          name: url-shortener-web-oci-tarball
          path: dist/url-shortener-web-${{ env.APP_VERSION }}.tar
          compression-level: 0

  push-image:
    runs-on: ubuntu-latest
    needs: [metadata]
    if: github.event_name != 'pull_request'
    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Push OCI image
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: latest
          verb: call
          args: >-
            push-image --src=. \
                    --go-version=${{ env.GO_VERSION }} \
                    --node-version=${{ env.NODE_VERSION }} \
                    --ldflags="-s -w -X main.version=${{ env.APP_VERSION }}" \
                    --repo=${{ env.REGISTRY }}/${{ github.repository }} \
                    --tags=${{ env.APP_VERSION }},latest \
                    --username=${{ github.repository_owner }} \
                    --token=env://GITHUB_TOKEN

  release:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - metadata
      - lint
      - test
      - govulncheck
      - build-binary
      - push-image

    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}

    strategy:
      matrix:
        os: [linux]
        arch: [amd64, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download binaries
        uses: actions/download-artifact@v7
        with:
          name: url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{env.APP_VERSION }}
          path: dist/

      - name: Create release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: dist/url-shortener-web-*
          generate_release_notes: true
          body: |
            `docker pull ${{ env.REGISTRY }}/${{ github.repository }}:${{ github.ref_name }}`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
