name: Go

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

env:
  GO_VERSION: 1.25.0

jobs:
  go-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: |
            go mod tidy
            npm install

      - name: Build Tailwind CSS
        run: npm run build:css

      - name: Run tests
        run: |
          source ./scripts/run-testdb.sh
          go test -v -cover ./...

      - name: Run build
        run: go build -o bin/url-shortener-web ./cmd/web

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: url-shortener-web
          path: bin/url-shortener-web
          compression-level: 6

      - name: Run golangci-lint
        run: go tool golangci-lint run --timeout 15m -v ./...

      - name: Run govulncheck
        run: go tool govulncheck ./...
