# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: Go

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

defaults:
  run:
    shell: bash

env:
  GO_VERSION: 1.26.0
  NODE_VERSION: 24.14.0
  GOLANGCI_LINT_VERSION: v2.9.0
  REGISTRY: ghcr.io
  DAGGER_CLOUD_TOKEN: ${{ secrets. DAGGER_CLOUD_TOKEN }}

permissions:
  contents: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  metadata:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.metadata.outputs.app_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: Collect metadata
        id: metadata
        shell: bash
        run: |
          app_version=$(git describe --tags --always --dirty 2> /dev/null || echo "unknown")
          echo "app_version=${app_version}" >> ${GITHUB_OUTPUT}

  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dagger-setup

      - name: Run golangci-lint
        run: |
          make golangci-lint

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dagger-setup

      - name: Run Go vulnerability check
        run: |
          make govulncheck

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dagger-setup

      - name: Run tests
        run: |
          make test

  build-binary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux]
        arch: [amd64, arm64]
    needs: [metadata]
    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dagger-setup

      - name: Build Go binary (${{ matrix.os }}/${{ matrix.arch }})
        run: |
          make build-binary GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }}

      - name: Upload binary
        uses: actions/upload-artifact@v6
        with:
          name: url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ env.APP_VERSION }}
          path: dist/url-shortener-web-${{ matrix.os }}-${{ matrix.arch }}-${{ env.APP_VERSION }}
          compression-level: 6

  export-oci-tarball:
    runs-on: ubuntu-latest
    needs: [metadata]
    if: github.event_name == 'pull_request'
    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dagger-setup

      - name: Install skopeo
        run: |
          sudo apt-get -y update
          sudo apt-get -y install skopeo

      - name: Export OCI tarball
        run: |
          make export-oci-tarball
          make load-image-from-oci-tarball
          docker image ls
          docker container run --rm url-shortener-web:latest --version

      - name: Upload OCI tarball
        uses: actions/upload-artifact@v6
        with:
          name: url-shortener-web-oci-tarball
          path: dist/url-shortener-web-${{ env.APP_VERSION }}.tar
          compression-level: 0

  push-image:
    runs-on: ubuntu-latest
    needs: [metadata]
    if: github.event_name != 'pull_request'
    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dagger-setup

      - name: Push image
        run: |
          make push-image \
            IMAGE_REPO=${REGISTRY}/${GITHUB_REPOSITORY} \
            IMAGE_TAGS=${APP_VERSION},latest \
            REGISTRY_USER=${GITHUB_REPOSITORY_OWNER} \
            REGISTRY_TOKEN=${GITHUB_TOKEN}

  release:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs:
      - metadata
      - golangci-lint
      - test
      - govulncheck
      - build-binary
      - push-image

    env:
      APP_VERSION: ${{ needs.metadata.outputs.app_version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download binaries
        uses: actions/download-artifact@v7
        with:
          pattern: url-shortener-web-*
          path: dist
          merge-multiple: true

      - name: Create release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: dist/**/*
          generate_release_notes: true
          body: |
            `docker pull ${{ env.REGISTRY }}/${{ github.repository }}:${{ github.ref_name }}`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
